$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-lg: 1200px;
$font1: 'fira_sansregular';
$font1_bold: 'fira_sanssemibold';
$font1_light: 'fira_sansextralight';
$font1_book: 'fira_sansbook';
$font1_semibold: 'fira_sansbook';
$font1_black: 'fira_sanssemibold';
$green: #80c342;
$gray: #3c3c3c;