.pages {
    main {
        padding: 20px 0 0;
    }
}

.register-page {
    label {
        font-family: $font1_light;
        color: #7f7f7f;
        font-style: italic;
        font-size: 18px;
        font-weight: normal;

        @include desktop {
            font-size: 21px;
        }
    }

    .form-control {
        border-radius: 0;
        border: 1px solid #dadada;
        box-shadow: none;
    }

    .btns {
        .btn-green-filled {
            background: $green;
            color: #fff;
            font-family: $font1_bold;
            font-weight: normal;
            font-style: italic;
            border-radius: 0;
            border: none;
            padding: 0 10px;
            font-size:23px;
            height:42px;
            line-height:42px;
            margin-bottom:10px;

            @include desktop {
                margin-right: 10px;
            }

        }

        a {
            vertical-align: top;
        }
    }

    .overlay {
        opacity: 0.2;
        pointer-events: none;
        transition: opacity 0.2s ease-out;
        padding-top: 20px;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        
        .check {
            display: none;
            margin-left: 10px;

            i {
                color: $green;
                font-size: 20px;
            }
        }
    }
    
    input#file {
        display: none;
    }

    .nf-add {
        background: $green;
        color: #fff;
        font-family: $font1_bold;
        font-weight: normal;
        font-style: italic;
        border-radius: 0;
        border: none;
        padding: 0 10px;
        font-size:23px;
        height:40px;
        line-height:40px;
        margin-bottom:10px;
        cursor: pointer;
    }

    .checkbox {
        label {
            font-size:18px;
        }
    }

    .btn-green, .success {
        color: $green;
        font-family: $font1_black;
        font-size: 25px;
        text-transform: uppercase;
        border: 3px solid $green;
        padding: 10px 35px;
        display: inline-block;
        margin: 45px 0;
        background-color: transparent;
    }

    .success {
        display: inline-block;
        margin-bottom: 85px;
    }

    img {
        max-width: 100%;
        vertical-align: top;
    }
}

.static-page {
    main {
        padding: 50px 0;

        h2 {
            color: $green;
            font-family: $font1_semibold;
            font-weight:normal;
            font-size:36px;
        }

        h3 {
            color: $green;
            margin-top: 35px;
        }

        a {
            color: $green;

            &:hover {
                color: $green;
                text-decoration: underline;
            }
        }

        p {
            color: $gray;
            font-size: 16px;
        }
    }
}